<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenesisLibrary</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">
     
        <div class="row dashboard-header mt-3">
            <div class="col-sm">
                <h2 class="gradient"><a class="no-decoration" href="/">GenesisLibrary</a></h2>
            </div>
            <div class="col-sm-6 search-form">
                <form id="search" action="/" method="get">
                    <input type="text" name="q" placeholder="Search by title" id="search" value="{{ request.GET.q }}"/>
                    <button id="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
            <div class="row  text-right extra-width m-1">
                <div class="col-sm-4  pl-1  text-left">
                    <a href="/about">About Us</a>
                </div>
                {% if request.session.uid %}
                    
                    <div class="col-sm-3 mr-4 text-left">
                    <a href="/display_borrowed">Borrowed</a>
                    </div>
                    
                    <div class="col-sm-4 text-left">
                    <a href="/logout">Log out</a>
                    </div>
                    
                    
                {% else %}
                <div class="col-sm-3 pl-1 text-left">
                    <a href="/display_login">Sign in</a>
                </div>
                {% endif %}
            </div>
            
            
        </div>
        <div class="row">
            <div class="navigation-bar ml-4">
                <h2 class="mt-5">Genres</h2>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "ActionAdventure" %}href="/display_genre/{{event.genre}}"{% endif %}{% endfor %}
                        >
                        Action and Adventure</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "Classics" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Classics</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "Country" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Comic Book or Graphic Novel</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "DetectiveMystery" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Detective and Mystery</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "Fantasy" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Fantasy</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "HistoricalFiction" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Historical Fiction</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "Horror" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Horror</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "LiteraryFiction" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Literary Fiction</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "Romance" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Romance</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "ScienceFiction" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Science Fiction (Sci-Fi)</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "ShortStories" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Short Stories</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "SuspenseThrillers" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Suspense and Thrillers</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "WomenFiction" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Women's Fiction</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "BiographiesAutobiographies" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Biographies and autobiographies</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "CookBooks" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Cookbooks</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "Essays" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Essays</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "History" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >History</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "Memoir" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Memoir</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "Poetry" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Poetry</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "SelfHelp" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >Self-Help</a>
                    </nav>
                    <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand" 
                        {% for book in books  %}{% if book.genre == "TrueCrime" %}href="/display_genre/{{book.genre}}"{% endif %}{% endfor %}
                        >True Crime</a>
                    </nav>
            </div>
            <div class="container mt-5">
                <div class="row mt-5">
                    
                        {% for book in books %}
                        <div class="col-sm-4  mb-5 events">
                        <a href="/display/{{book.id}}">
                        <figure>
                            <img src="{% static book.genre %}{{".jpg"}}" alt="Book Cover" width="230" height="150">
                            
                            <figcaption>
                                {{book.title}}<br>
                                {{book.genre}}<br>  
                                {{book.author}}
                            </figcaption>
                        </figure>
                        </div>
                        </a>
                        {% endfor %}
                </div>
                
                </div>
            </div>
        </div>
    </div>
</body>
</html>